/* ========================================================================== */
/* NORMALIZE */
/* ========================================================================== */

*,
*::before,
*::after {
  box-sizing: border-box;
  font-family:'Times New Roman', Times, serif;
}

body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased; /* Improve text rendering on macOS */
  text-wrap: pretty;
}

img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}

button,
input,
optgroup,
select,
textarea {
  font-family: inherit;
  font-size: 100%;
  color: inherit;
}

/* ========================================================================== */
/* MAIN STYLING */
/* ========================================================================== */

html {
  /* Custom CSS properties */
  --standard-padding: 16px;
  --big-padding: 32px;
  --standard-padding: 16px;
  --minor-padding: 6px;
  --cell-size: 2rem;
  --palette-accent: darkslategray;
}

.invisible {
  visibility: hidden;
}

#setup-game-dialog {
  margin: 20vh auto auto auto;
  width: max(40%, 275px);
  padding: var(--big-padding);
  border-color: var(--palette-accent); 
  border-radius: 8px;
  box-shadow: 0px 2px 11px -3px gray;
}

dialog::backdrop {
  background-color: #000000;
  opacity: 0.3;
}

#setup-game-form {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: var(--standard-padding);
}

.half-cell {
  width: max(45%, 115px);
}

.full-cell {
  flex: auto;
  width: 100%;
  text-align: center;
}

.text-center-align {
  text-align: center;
}

input[type="checkbox"] {
  vertical-align: -1px; /* adjusts the position of the checkboxes on the text baseline */
  accent-color: var(--palette-accent);
}

body {
  margin: 0;
  background: #356063;
  background: linear-gradient(91deg, rgba(53, 96, 99, 1) 0%, rgba(51, 112, 145, 1) 58%, rgba(47, 117, 196, 1) 100%);
}

header {
  display: flex;
  justify-content: space-between;
  gap: var(--big-padding);
  flex-wrap: no-wrap;
  padding: var(--standard-padding) var(--big-padding);
  height: 4rem;
  font-size: 1.5rem;
  background-color: var(--palette-accent);
  color: white;
}

header h1 {
  font-size: inherit;
  margin: 0;
  letter-spacing: 2px;
  text-transform: uppercase;
}

nav ul {
  display: flex;
  gap: var(--big-padding);
  margin: 0;
  list-style: none;
}

#setup-game-btn {
  background-color: green;
  border-color: white;
  cursor: pointer;
  width: max-content;
}

#github-link {
  text-decoration: none;
  color: inherit;
}

#github-link span {
  display: inline-block; 
  width: 1rem;
}

#player-battlefields {
  display: flex;
  justify-content: center;
  flex-flow: row wrap;
  gap: var(--big-padding);
  padding: var(--big-padding);
  background-color: white;
}

#status-display-container {
  flex: none;
  width: 100%;
  text-align: center;
}

#status-display {
  min-height: 1.5rem;
}

table {
  table-layout: fixed;
  width: min-content;

  border-collapse: collapse;
}

caption {
  position: relative;
  left: calc(var(--cell-size) / 2);
}

th,
td {
  width: var(--cell-size);
  height: var(--cell-size);
  padding: 0;
}

th {
  font-weight: normal;
}

td {
  border: 1px solid black;
}

.dummy-cell {
  border: none;
  position: relative;
}

.battlefield-btn {
  display: block;
  border: none;
  width: 100%;
  height: 100%;
  background-color: white;
}

.your-attacks .battlefield-btn {
  cursor: pointer;
}

.your-attacks .battlefield-btn.empty:hover,
.your-attacks .battlefield-btn.empty:focus-visible {
  border: 2px solid black;
  filter: brightness(97%);
}

.your-attacks .battlefield-btn.empty:active {
  filter: brightness(94%);
}

/* Table "nodes" and different types of tables */

.your-attacks .is-attacked {
  cursor: default;
}

.your-ship {
  background-color: #E5E5FF;
}

.is-attacked {
  background-color: #FFFFCC;
}

.your-ship.is-attacked {
  background-color: #FFCCCC;
}

.your-attacks .landed-hit {
  background-color: #CCFFCC;
}

.is-attacked::before {
  content: "•";
  color: darkorange;
  font-size: 1.5rem;
}

.your-ship.is-attacked::before {
  content: "×";
  font-size: 1.5rem;
  color: red;
}

.your-attacks .landed-hit {
  border: 2px solid green;
}

.your-attacks .landed-hit::before {
  content: "✓";
  font-size: 1.25rem;
  color: green;
}

.ship-node {
  border: 2px solid blue;
  position: absolute;
}

/* TEST */
[data-ship-uuid="123"] {
  width: calc(var(--cell-size) + 1px);
  height: calc(2 * var(--cell-size) + 1px);
  left: calc(2 * 100%);
  top: calc(1 * 100%);
}
