/* ========================================================================== */
/* NORMALIZE */
/* ========================================================================== */

*,
*::before,
*::after {
  box-sizing: border-box;
  font-family:
    system-ui,
    -apple-system,
    BlinkMacSystemFont,
    "Segoe UI",
    Roboto,
    Oxygen,
    Ubuntu,
    Cantarell,
    "Open Sans",
    "Helvetica Neue",
    sans-serif;

  --standard-padding: 16px;
}

body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased; /* Improve text rendering on macOS */
  text-wrap: pretty;
}

img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}

button,
input,
optgroup,
select,
textarea {
  font-family: inherit;
  font-size: 100%;
}

/* ========================================================================== */
/* MAIN STYLING */
/* ========================================================================== */

html {
  /* Custom CSS properties */
  --standard-padding: 16px;
  --minor-padding: 6px;
  --cell-size: 2rem;
}


.player-battlefields {
  display: flex;
  justify-content: center;
  flex-flow: row wrap;
  gap: 64px;
}

.battlefields-title {
  flex: none;
  width: 100%;
  text-align: center;
}

.your-ships[data-active-game] {
  color: gray;
  filter: opacity(0.5);
}

table {
  table-layout: fixed;
  width: min-content;

  border-collapse: collapse;
}

th,
td {
  width: var(--cell-size);
  height: var(--cell-size);
  padding: 0;
}

th {
  font-weight: normal;
}

td {
  border: 1px solid black;
}

.dummy-cell {
  border: none;
  position: relative;
}

.battlefield-btn {
  display: block;
  border: none;
  width: 100%;
  height: 100%;
  background-color: white;
}

.your-attacks .battlefield-btn {
  cursor: pointer;
}

.your-attacks .battlefield-btn.empty:hover,
.your-attacks .battlefield-btn.empty:focus-visible {
  border: 2px solid black;
  filter: brightness(97%);
}

.your-attacks .battlefield-btn.empty:active {
  filter: brightness(94%);
}

/* Table "nodes" and different types of tables */

.your-attacks .is-attacked {
  cursor: default;
}

.has-ship {
  background-color: rgba(0, 0, 256, 0.10);
}

.is-attacked {
  background-color: rgba(255, 255, 0, 0.20);
}

.your-ships .landed-hit {
  background-color: rgba(255, 0, 0, 0.20);
}

.your-attacks .landed-hit {
  background-color: rgba(0, 255, 0, 0.20);
}

.is-attacked::before {
  content: "•";
  color: darkorange;
  font-size: 1.5rem;
}

.your-ships .landed-hit::before {
  content: "×";
  font-size: 1.5rem;
  color: red;
  
}

.your-attacks .landed-hit {
  border: 2px solid green;
}

.your-attacks .landed-hit::before {
  content: "✓";
  font-size: 1.25rem;
  color: green;
}

.ship {
  border: 2px solid blue;
  position: absolute;
}

/* TEST */
[data-ship-uuid="123"] {
  width: calc(var(--cell-size) + 1px);
  height: calc(2 * var(--cell-size) + 1px);
  left: calc(2 * 100%);
  top: calc(1 * 100%);
}
